.leaderboard{
    padding: 30px 0;
    display: block;
    width: 90%;
    margin: auto;
}

.leaderboard h1{
    color: white;
    text-align: center;
}

.leader_board_section{
    background-color: rgb(49, 49, 49);
}